* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

#header_div {
    background-color: white;

}

#div_adding_features {
    padding: 10px 40px;
}

#div_main {
    margin: auto;
    width: 70%;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;

}

#list {
    padding-left: 40px;
}

#new_task {
    padding: 20px;
}

#today {
    padding: 20px 40px;
}

#upcoming {
    padding: 0px 0px 20px 40px;
}

#editorial_box {
    border: solid 1px;
    border-radius: 10px;
    background-color: cadetblue;
    margin-left: 2px;
    padding: 1px
}

.adding_features_Task {
    border: solid 1px;
    background-color: rgb(4, 175, 227);
    border-radius: 10%;
    margin-right: 5px;
    padding: 1px 2px;
    color: white;

}

.adding_features_Section {
    border: solid 1px;
    border-radius: 8%;
    margin: auto;
    padding: 1px 2px;
}

.editorial_box {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgb(0, 120, 124);
    padding: 1px;
    color: white;
    font-size: smaller;
}

.Goals_Q1 {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgba(123, 3, 101, 0.852);
    color: white;
    font-size: smaller;
    padding: 2px;
}

.Recruiting {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: darkseagreen;
    color: white;
    font-size: smaller;
    padding: 2px;
}

.mobile {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: orange;
    color: white;
    font-size: smaller;
    padding: 2px;
}

.homepage_refresh {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgb(168, 57, 105);
    color: white;
    font-size: smaller;
    padding: 2px;
}

.Sales {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgb(115, 191, 0);
    color: white;
    font-size: smaller;
    padding: 2px;
}