*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 243);
}
#header_div{
    background-color:white;
}
#editorial_box{
    border: solid 1px;
    border-radius: 8%;
    background-color:cadetblue;
    margin-left: 2px;
}
.adding_features_Task{
    border:solid 1px;
    background-color:rgb(31, 98, 180);
    border-radius: 8%;
    margin-right: 5px;
}
.adding_features_Section{
    border: solid 1px;
    border-radius: 8%;
}