* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

#header_div {
    background-color: white;
}

#editorial_box {
    border: solid 1px;
    border-radius: 10px;
    background-color: cadetblue;
    margin-left: 2px;
    padding: 1px
    
}

.adding_features_Task {
    border: solid 1px;
    background-color: rgb(31, 98, 180);
    border-radius: 8%;
    margin-right: 5px;
    padding: 1px;
}

.adding_features_Section {
    border: solid 1px;
    border-radius: 8%;
    padding: 1px;
}

.editorial_box {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: cadetblue;
    padding:1px;
}

.Goals_Q1 {
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: rgba(123, 3, 101, 0.852);
}
.Recruiting{
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: aquamarine;
}
.mobile{
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: orange;
}
.homepage_refresh{
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color:fuchsia;
}
.Sales{
    border: solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: greenyellow;
}